@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1f2820;
  --color-secondary: #dad5ce;
  --color-tertiary: #282828;
  --color-fourthtiary: #838855;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/*HomePage Intro*/

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  background-color: var(--color-secondary);
}
b {
  font-weight: 600;
}
p,
a {
  color: white;
  font-weight: 300;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  z-index: 1000;
  position: fixed;
  top: 0;
}
.navbar_roller_color {
  background-color: rgba(97, 104, 63, 0.64);
}
.navbar_roller_color_full {
  background-color: #63683e;
}

.navbar_roller_color.visible {
  max-height: 500px; /* Adjust this value to the maximum height of your content */
  opacity: 1;
}

.navbar_roller_collor_full {
  background-color: rgba(97, 104, 63, 1);
}

.navbar-part {
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  overflow: hidden;
}

.navbar-part.show {
  max-height: 100px;
}

.navbar-part.hide {
  max-height: 0;
}

/*main section */
.main_section {
  padding: 1.6rem;

  max-width: 1140px;
  margin: auto;
}
.navbar_section {
  padding: 1.6rem;
  max-width: 1140px;
  margin: auto;
  z-index: 100;
  position: relative;
}

.nav__close-button {
  fill: white;
  cursor: pointer;
  position: absolute;
  top: 17px;
  right: 13px;
  width: 30px;
  height: 30px;
}
.nav__item {
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-weight: 200;
}

.collapsible--expanded {
  top: -60%;
  opacity: 0;
  position: fixed;
  width: 100%;
  background-color: rgba(31, 40, 32, 0.85);
  transition: top 0.4s ease-in, opacity 0.4s ease-in;
  z-index: 99;
  display: flex;
  flex-direction: column;
}

.collapsible--collapsed {
  top: 0%;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .main_section {
    padding: 50px;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .main_section {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

@media screen and (min-width: 1536px) {
  .main_section,
  .navbar_section {
    max-width: 1340px;
  }
}
@media screen and (min-width: 1836px) {
  .main_section {
    padding-top: 8rem;
    padding-bottom: 8rem;
    max-width: 1556px;
  }

  .navbar_section {
    max-width: 1556px;
  }
}

/*Buttons*/
.btn {
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
  margin: 1rem 0;
  outline: 0;
  padding: 1rem 3.1rem;
  text-align: center;
  white-space: nowrap;
  max-width: fit-content;
  justify-content: center;
  display: flex;
  transition: 0.1s ease-in;
  align-items: center;
  font-weight: 500;
  z-index: 10;
  font-size: 16px;
}

.btn--primary {
  background: var(--color-primary);
  color: white;
}
.btn--primary:hover {
  color: var(--color-secondary);
}

.btn--secondary {
  background: var(--color-secondary);
  color: black;
}
.btn--secondary:hover {
  color: var(--color-primary);
}

.btn--tertiary {
  color: white;
  border: 1px solid white;
}
.btn--tertiary:hover {
  background-color: white;
  color: var(--color-primary);
}

.btn--fourthtiary {
  background-color: var(--color-fourthtiary);
  color: white;
}
.btn--fourthtiary:hover {
  color: var(--color-primary);
}

.line-container {
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  position: relative;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(57, 72, 56, 0) 0%,
    rgba(57, 72, 56, 1) 20%,
    rgba(57, 72, 56, 1) 80%,
    rgba(57, 72, 56, 0) 100%
  );
}

.circle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: var(--color-primary);
  border-radius: 50%;
}

.active_circle {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-primary);
}

.additional_padding {
  padding-top: 10rem !important;
}
@media screen and (min-width: 1024px) {
  .additional_padding {
    padding-top: 15rem !important;
  }
}
@media screen and (min-width: 1836px) {
  .additional_padding {
    padding-top: 19rem !important;
  }
}
